<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <!-- JQuery required by BlockMirror Editor -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <!-- Blockly: Import Firstly, Others Depend On It -->
    <!--<script src="https://unpkg.com/blockly/blockly.min.js"></script>-->
    <script
      src="{{ url_for('static', filename='lib/blockly/blockly_compressed.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/blockly/blocks_compressed.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/blockly/msg/js/en.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/blockly/python_compressed.js') }}"
      type="text/javascript"
    ></script>
    <!-- Block Mirror -->
    <script
      src="{{ url_for('static', filename='lib/block_mirror/block_editor.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/block_mirror/block_mirror.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/block_mirror/blockly_shims.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/block_mirror/text_editor.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/block_mirror/text_to_blocks.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/block_mirror/toolbars.js') }}"
      type="text/javascript"
    ></script>
    <link
      href="{{ url_for('static', filename='lib/block_mirror/block_mirror.css') }}"
      rel="stylesheet"
    />
    <!-- AST: Import AFTER Block Mirror, ast_functions first -->
    <script
      src="{{ url_for('static', filename='lib/ast/ast_functions.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_AnnAssign.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Assert.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Assign.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Attribute.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_AugAssign.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_BinOp.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_BoolOp.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Break.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Call.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_ClassDef.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Comment.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Comp.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Compare.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Continue.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Delete.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Dict.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Expr.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_For.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_FunctionDef.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Global.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_If.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_IfExp.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Import.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Lambda.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_List.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Name.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_NameConstant.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_NonLocal.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Num.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Raise.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Raw.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Return.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Set.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Starred.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Str.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Subscript.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Try.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Tuple.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_UnaryOp.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_While.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_With.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_Yield.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/ast/ast_YieldFrom.js') }}"
      type="text/javascript"
    ></script>

    <!-- CodeMirror -->
    <script
      src="{{ url_for('static', filename='lib/codemirror/codemirror.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/codemirror/fullscreen.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/codemirror/python.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/codemirror/python-hint.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='lib/codemirror/show-hint.js') }}"
      type="text/javascript"
    ></script>
    <link
      href="{{ url_for('static', filename='lib/codemirror/codemirror.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/codemirror/fullscreen.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/codemirror/show-hint.css') }}"
      rel="stylesheet"
    />
    <!-- Skulpt -->
    <script
      src="{{ url_for('static', filename='lib/skulpt/skulpt_parser.js') }}"
      type="text/javascript"
    ></script>
    <!-- TailwindCSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.svg') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <hr />
    <div class="content">{% block content %} {% endblock %}</div>
    <hr />
    {% include 'messages.html' %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
